.border-box {
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: white;
    padding: 1em;
    width: 80%;
    max-width: 800px;
    margin: 1em auto;
}


.border-box-2 {
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: white;
    padding: 1em;
    margin: 1em auto;
    height: 65vh;
    width: 80%;
    max-width: 800px;
}


.background-color {
    background-color: #c5ddd1;
}